<div class="wrapper">
<h1>Under construction</h1>
<p>This site is currently being built, please bear with us</p>
</div>

<%= link_to "artworks", artworks_path %>
<br>
<%= link_to "collections", collections_path %>