<div class="wrapper">
<h1>Under construction</h1>
<p>This site is currently being built, please bear with us</p>
<br>
<br>
<br>

<%= link_to "Artworks", artworks_path %>
<br>
<br>
<%= link_to "Collections", collections_path %>
</div>