.navbar {
  padding: 15px 0px!important;
  background: rgba(0, 0, 0, 0);
  // border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;

  .nav-link {
    font-size: 1.4rem;
    margin-left: 20px;
    position: relative;
    top: 5px;
    // text-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    font-weight: 300;
  }

  .nav-link:hover {
    color: #006d77!important;
  }
}

.mr-auto {
  margin-right: 0!important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border-color: transparent!important;
}

.navbar-toggler:focus {
  border-color: transparent!important;
}

button:focus {
    border-color: transparent!important;
    outline: none!important;
}