.carousel-item {
  height: 800px;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%!important;
  bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  bottom: 70px;
}

.carousel-caption {
  text-align: left;
  color: black;
  left: auto;
  right: auto;
  position: relative;
  top: 10px;
}