.carousel-item {
  height: 820px;
  img {
    height: 660px;
    object-fit: cover;
  }
}

.carousel-control-prev, .carousel-control-next {
  width: 4%!important;
  bottom: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  bottom: 120px;
}

.carousel-caption {
  text-align: left;
  color: black;
  left: auto;
  right: auto;
  position: relative;
  top: 20px;
  left: 20px;
}