.carousel-item {
  img {
    object-fit: cover;
    display: block;
    max-height: 660px;
    height: 58vw;
  }
}

.image-container {
}

.carousel-control-prev, .carousel-control-next {
  width: 4%!important;
  bottom: 180px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  bottom: 160px;
}

.carousel-caption {
  text-align: left;
  color: black;
  left: auto;
  right: auto;
  position: relative;
  top: 20px;
  height: 200px;
}