.carousel-item {
  overflow: visible;
  img {
    object-fit: cover;
    display: block;
    max-height: 660px;
    height: 58vw;
    box-shadow: 0 1px 2px rgba(0,0,0,0.03),
              0 2px 4px rgba(0,0,0,0.04),
              0 4px 8px rgba(0,0,0,0.04),
              0 8px 16px rgba(0,0,0,0.04),
              0 16px 32px rgba(0,0,0,0.03),
              0 32px 64px rgba(0,0,0,0.03);
  }
}

.image-container {
}

.carousel-control-prev, .carousel-control-next {
  width: 4%!important;
  bottom: 180px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  bottom: 160px;
}

.carousel-caption {
  text-align: left;
  color: black;
  left: auto;
  right: auto;
  position: relative;
  top: 30px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: visible;
}

.align-right {
  text-align: left;
  font-size: 0.9rem;
  color: rgba(140,140,140, 0.7)!important;
  position: relative;
  top: 7px;
}

.right {
  a {
    color: rgb(60, 60, 60);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  a:hover {
    text-decoration: none;
    color: #006d77!important;
  }
}

.left {
  max-width: 600px;
}